body {
    background: linear-gradient(135deg, #e0eafc, #d6cfe7);
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.card{
    border-radius: 1rem !important;
}

button, input{
    border-radius: 0.75rem !important;
}

.step-indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.step-circle {
    width: 40px;
    height: 40px;
    border-radius: 0.875rem; /* Updated border-radius */
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #555;
}

.step-circle.active {
    background-color: #1565c0;
    color: #fff;
}

.step-line {
    flex-grow: 1;
    height: 2px;
    background-color: #e5e5e5;
    margin: 0 10px;
}

.step-line.active {
    background-color: #1565c0;
}

.step-hidden {
    display: none;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.resource-container {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.resource-container:hover {
    background-color: #f0f8ff;
}

#downloadBtn {
    margin-top: 20px;
}

.collapse-toggle {
    cursor: pointer;
    font-weight: bold;
}

.form-check-input[type=checkbox]:indeterminate {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}
.dropdown-item.active.selected .text{
    color: white!important;
}

.text-warning{
    color: orange !important;
}